.DataTable__Title {
  border-bottom: 1px solid #007bff;
  color: gray;
  font-style: italic;
  margin: 48px 0 24px;
  text-align: left;
}

.DataTable__Header {
  color: #007bff;
  border-bottom: 2px solid gray;
  display: grid;
  grid-template-columns: repeat(6, minmax(100px, 1fr));
  padding: 5px 0;
}

.DataTable__Row {
  border-bottom: 1px solid gray;
  display: grid;
  grid-template-columns: repeat(6, minmax(100px, 1fr));
  padding: 5px 0;
}