.Dropdown {
    align-items: center;
    color: gray;
    display: flex;
    justify-content: flex-end;
    margin: 24px 0;
}

.Dropdown__Title {
    font-size: 1em;
    line-height: 2em;
    padding: 0 15px;
    margin: 0;
}